<h1 mat-dialog-title>{{!data.character.id ? 'Create' : 'Edit'}} Character</h1>
<div [formGroup]="createCharacterForm" mat-dialog-content>
    <mat-form-field>
        <input matInput formControlName="name" placeholder="Name">
    </mat-form-field>
    <br/>
    <mat-form-field>
        <input matInput formControlName="race" placeholder="Race">
    </mat-form-field>
    <br/>

    <h4>Character Classes</h4>
    <ng-container formArrayName="characterClasses" *ngFor="let group of getFormArray('characterClasses').controls; let i = index">
        <ng-container [formGroupName]="i">
            <mat-form-field>
                <input matInput formControlName="name" placeholder="Class Name">
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="level" placeholder="Level" type="number">
            </mat-form-field>
            <fa-icon [icon]="faMinus" class="pointer" (click)="removeCharacterClass(i)"></fa-icon>
            <br/>
        </ng-container>
    </ng-container>

    <fa-icon [icon]="faPlus" class="pointer" (click)="addCharacterClass()"></fa-icon>

    <h4>Character Image</h4>
    <div style="max-height: 300px; overflow: auto;">
        <app-token-picker listWidth="70vw" itemHeight="150px" columns="5" formControlName="image"></app-token-picker>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="createCharacterForm.value"
            [disabled]="createCharacterForm.invalid">Submit
    </button>
</div>
