<div class="flex">
    <h2>Characters</h2>
    <mat-grid-list cols="4" rowHeight="300px">
        <mat-grid-tile
                *ngFor="let character of $userCharacters | async"
                [colspan]="1"
                [rowspan]="1">
            <mat-card>
                <mat-card-header>
                    <img mat-card-avatar [src]="character.image" alt="character token">
                    <mat-card-title>{{character.name}}</mat-card-title>
                    <mat-card-subtitle>{{character.race}}&nbsp;{{character.characterClass}}</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>

                </mat-card-content>

                <mat-card-actions>
                    <button mat-button color="accent" (click)="createOrSaveCharacter(character)">Edit</button>
                    <button mat-button color="warn" (click)="deleteCharacter(character)">Delete</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1"
                       [rowspan]="1">
            <mat-card class="pointer" (click)="createOrSaveCharacter()">
                <mat-card-content>
                    <fa-icon [icon]="faPlus" stackItemSize="2x"></fa-icon>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="flex">
    <h2>Campaigns</h2>
    <mat-grid-list cols="4" rowHeight="250px">
        <mat-grid-tile
                *ngFor="let campaign of $userCampaigns | async"
                [colspan]="1"
                [rowspan]="1">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{campaign.name}}</mat-card-title>
                </mat-card-header>

                <mat-card-content>

                </mat-card-content>

                <mat-card-actions>
                    <button mat-stroked-button color="primary">View</button>
                    <button mat-stroked-button color="accent">Edit</button>
                    <button mat-stroked-button color="warn">Delete</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1"
                       [rowspan]="1">
            <mat-card class="pointer">
                <mat-card-content>
                    <fa-icon [icon]="faPlus" stackItemSize="2x"></fa-icon>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<!--<app-token-picker></app-token-picker>-->
