<h1 mat-dialog-title>Delete</h1>
<div mat-dialog-content>
    <p>Are you sure you want to delete {{data.character.name}}</p>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="close()">No</button>
    <button mat-button [mat-dialog-close]="data.character" cdkFocusInitial>Yes</button>
</div>
