/* You can add global styles to this file, and also import other style files */
//@import '~@fortawesome/fontawesome-svg-core/styles.css';
@import '~@fortawesome/fontawesome-pro/scss/fontawesome';

html, body {
  height: 100%;
  background-color: #303030;
  color: #d0d0d0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Opera and Firefox */
}

.pointer {
  cursor: pointer;
}
