@import '../../../styles.scss';

mat-card:hover {
  background-color: #626262;
  cursor: pointer;
}

mat-card.active {
  background-color: #626262;
}

mat-card-content {
  align-content: center;
  vertical-align: middle;
  text-align: center;

  p {
    @extend .no-select;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
  }
}
