<mat-grid-list [cols]="columns" [rowHeight]="itemHeight" [style.width]="listWidth">
    <mat-grid-tile *ngIf="resourceService.canGoBack" (click)="resourceService.indexOut()">
        <mat-card style="width: 100%; height: 100%">
            <mat-card-content [style.height]="itemHeight" [style.line-height]="itemHeight">
                ..
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <ng-container *ngFor="let resource of resourceService.resources | async">
        <mat-grid-tile (click)="select(resource)" [title]="resource.name">
            <mat-card style="width: 100%; height: 100%;" [class.active]="token.includes(resource.name)">
                <mat-card-content [style.height]="itemHeight" [style.line-height]="itemHeight">
                    <ng-container *ngIf="resource.type === 'file'">
                        <img *ngIf="resource.size < 4194304; else text"
                             [src]="resourceService.fullPath.getValue() + resource.name"
                             [alt]="resource.name"
                             [style.max-width]="itemHeight"
                             [style.max-height]="itemHeight"
                             height="auto"/>
                        <ng-template #text>
                            <p>{{resource.name}}</p>
                        </ng-template>
                    </ng-container>
                    <p *ngIf="resource.type === 'directory'">{{resource.name}}</p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </ng-container>
</mat-grid-list>
