<mat-card id="loginForm" [formGroup]="loginForm">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-form-field>
            <input matInput type="text" formControlName="username" placeholder="Username"/>
        </mat-form-field>
        <br/>
        <mat-form-field>
            <input matInput type="password" formControlName="password" placeholder="Password"/>
        </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="login()">Submit</button>
    </mat-card-actions>
</mat-card>

