<mat-toolbar id="menuBar" color="primary">
    <div>
        <button mat-flat-button color="primary" routerLink="">Cartographile</button>
        <button mat-flat-button color="primary" routerLink="dashboard" *ngIf="loginService.loggedIn">Dashboard</button>
    </div>
    <button mat-flat-button color="primary" routerLink="login" *ngIf="!loginService.loggedIn">Login</button>
    <button mat-flat-button color="primary" *ngIf="loginService.loggedIn" (click)="loginService.logout()">Logout</button>
</mat-toolbar>

<div style="padding: 10px 10px 10px 10px;">
    <router-outlet></router-outlet>
</div>
